/*#topbar
{
    background-color: black;
    height: 30px;
    width: 100%;
}*/



#container
{
    background-color: rgb(142, 87, 187);
    height:700px;
    width: 50%;
    margin: 0px auto;
}

.head
{
    float: left;
    margin-left: 500px;
    margin-right: 100px;
}
#header ul{
    float: right;
    margin-right: 80px;
    margin-left: 10px;
    
}
#header ul li{
    display:inline;
    margin-right: 10px;
    margin-left: 10px;
}
#header ul li a{
    color:white;

    text-decoration: none;
    font: size 18px;
}
.head
{
  float: left;  
  
  color: white;
  margin-right: 150px;
  margin-left: 0px;
  margin-top: 0px;
}
body
{
    
    
    background-color: white;
    font-family: "Poppins";

}

#container .signup
{
    text-decoration: none;
    text-align:center ;
    padding: 5px 20px;
    display: inline-block;
    border-radius: 25px;
    cursor: pointer; 
    margin-left: 0px;
    top: 60px;
    margin-right: 50px;


    background-color: white;
}



    
    
